@mixin shrinkLabel {
  top: 10px;
  left: 3rem;
  font-size: 1.3rem;
  color: #777777d0;
}

.main-form-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 26rem;

  @media (max-width: 820px) {
    width: 95vw !important;
    padding: 0 5rem !important;
    justify-content: stretch !important;
    display: grid !important;
    grid-template-rows: 10rem 4rem 10rem !important;
    margin-bottom: 0 !important;
  }
}

.search-form {
  position: relative;

  &--input {
    width: 45rem;
    height: 7.6rem;
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    font-size: 2.3rem;
    padding: 0 6rem;
    border-radius: 10px;

    &__dark {
      background-color: #2B3844;
      color: white;
    }

    &:focus ~ .search-form--label {
      @include shrinkLabel();
    }

    @media (max-width: 820px) {
      width: 100%;
      grid-column: 1 / -1;;
      grid-row: 1 / 2;
    }
  }

  &--icon {
    font-size: 2rem !important;
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 3rem 2rem;
    transition: all 0.3s;

    &__dark {
      color: white;
    }

    &:hover {
      cursor: pointer;
      background: #eeeeee54;
      top: 0;
      left: 0;
    }
  }
  &--label {
    position: absolute;
    top: 2.7rem;
    left: 5rem;
    font-size: 1.6rem;
    padding-left: 2rem;
    color: #777;
    transition: all 0.3s;

    &__dark {
      color: rgb(214, 206, 206);
    }
  }
}

.shrink {
  @include shrinkLabel();

  &__dark {
    color: rgb(214, 206, 206);
  }
}