.select-country {
  &__dropdown {
    width: 20rem;
    height: 7.6rem;
    border: none;
    outline: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
    font-size: 2.3rem;
    padding: 0 2rem;
    border-radius: 10px;
  }

  &__options {
    background: #fff;
    line-height: 2rem;
  }
}
