.container {
  display: grid;
  align-items: center;
}

.countries {
  margin-top: 5rem;
  width: 150rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 6rem;
  justify-self: center;
  justify-items: center;
  justify-content: center;
}
